@model IEnumerable<EgyGuide.Models.Blog>

@{
    ViewData["Title"] = "Admin - Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="padding-30">
    <h2>Panel - Blogs</h2>
    <table id="tblData" class="table table-striped" style="width:100%;text-align:center">
        <thead class="thead-dark">
            <tr class="table-info">
                <th>Title</th>
                <th>Date</th>
                <th>Created By</th>
                <th>Views</th>
                <th>Status</th>
                <th>Details</th>
                <th>Process</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script>
        $(".table-info th").css("text-align", "center")
        $("head").append('<link rel="stylesheet" href="/css/datatable.css">');
    </script>
    <script src="~/js/Dashboard/admin/blog.js"></script>
}