<div class="col-xs-12 col-sm-4 col-md-3 mt-20">

    <aside class="sidebar-wrapper pr-5 pr-0-xs">

        <div class="common-menu-wrapper">

            <ul class="common-menu-list">

                <li><a asp-area="TourGuide" asp-controller="GuideDashboard" asp-action="Index">Dashboard</a></li>
                <li><a asp-area="TourGuide" asp-controller="GuideDashboardProfile" asp-action="Index">Edit profile</a></li>
                <li><a asp-area="TourGuide" asp-controller="GuideDashboardProfile" asp-action="Information">Guide Information</a></li>
                <li><a asp-area="TourGuide" asp-controller="GuideDashboardTours" asp-action="Index">My tours</a></li>
                <li><a asp-area="TourGuide" asp-controller="GuideSettingChangePassword" asp-action="Index">Change password</a></li>
                <li><a href="#">Logout</a></li>

            </ul>

        </div>

    </aside>

</div>