<div class="col-xs-12 col-sm-4 col-md-3 mt-20">

    <aside class="sidebar-wrapper pr-5 pr-0-xs">

        <div class="common-menu-wrapper">

            <ul class="common-menu-list">

                <li><a asp-area="TourGuide" asp-controller="GuideSetting" asp-action="Index">Dashboard</a></li>
                <li><a asp-area="TourGuide" asp-controller="GuideSettingProfile" asp-action="Index">Edit profile</a></li>
                <li><a asp-area="TourGuide" asp-controller="GuideSettingInformation" asp-action="Index">Guide Information</a></li>
                <li class="active"><a asp-area="TourGuide" asp-controller="GuideSettingChangePassword" asp-action="Index">Change password</a></li>
                <li><a asp-area="TourGuide" asp-controller="GuideSettingForTours" asp-action="Index">My tours</a></li>
                <li><a asp-area="TourGuide" asp-controller="GuideSettingWishList" asp-action="Index">My wishlist</a></li>
                <li><a href="#">Logout</a></li>

            </ul>

        </div>

    </aside>

</div>