@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="~/Views/Shared/Breadcrumb.cshtml">
<partial name="~/Views/Shared/TourGuide/UserProfileWrapper.cshtml">

<div class="pt-30 pb-50">

    <div class="container">

        <div class="row">

            <div class="col-12 mt-20 text-center">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <partial name="_StatusMessage" for="StatusMessage" />
                </div>
            </div>

            <div class="clearfix"></div>

            <partial name="~/Views/Shared/TourGuide/DashboardSidebarMenu.cshtml">

            <div class="col-xs-12 col-sm-8 col-md-9 mt-20">

                <div class="dashboard-wrapper">

                    <h4 class="section-title">Change password</h4>

                    <form class="post-form-wrapper" id="change-password-form" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="row gap-20">

                            <div class="col-sm-6 col-md-4">

                                <div class="form-group">
                                    <label>Current Password</label>
                                    <input asp-for="Input.OldPassword" class="form-control" />
                                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="clear"></div>

                            <div class="col-sm-6 col-md-4">

                                <div class="form-group">
                                    <label>New Password</label>
                                    <input asp-for="Input.NewPassword" class="form-control" />
                                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="clear"></div>

                            <div class="col-sm-6 col-md-4">

                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="clear mb-10"></div>

                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-lg btn-primary">Update Password</button>
                            </div>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}