
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start breadcrumb -->
<partial name="~/Views/Shared/Breadcrumb.cshtml">
    <!-- end breadcrumb -->

    <div class="pt-50 pb-50">

        <div class="container">

            <div class="create-done-wrapper">

                <div class="row">

                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                        <div class="icon">
                            <div class="icon-inner">
                                <i class="ti-check"></i>
                            </div>
                        </div>

                        <h1 class="text-lowercase">Congratulation!</h1>
                        <p class="lead">Your requested have been successfully created</p>
                        <h3>Need expert guide to bring me to Bangkok for 3 days 2 nights</h3>
                        <a href="#" class="btn btn-primary btn-wide">View</a>
                        <a href="#" class="btn btn-primary btn-wide btn-border">Edit</a>
                    </div>

                </div>

            </div>

        </div>

    </div>
