@model EgyGuide.Models.ViewModels.BlogVM

@{
    ViewData["Title"] = "BlogCreate";
    ViewData["AddClassToBodyTag"] = "transparent-header";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string pageTitle = Model.Blog.Id == 0 ? "Create" : "Edit";
    string imageTitle = Model.Blog.ImageURL == null ? "Add" : "Change";
}

<!-- start breadcrumb -->
<div class="breadcrumb-image-bg pb-100 no-bg" style="background-image:url('images/breadcrumb-bg.jpg');">
    <div class="container">
        <div class="page-title">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <h2>@pageTitle Your Blog</h2>
                    <p>Publish your passions, your way</p>
                </div>
            </div>
        </div>

        <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Blog @pageTitle</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- end breadcrumb -->

<div class="bg-light">

    <div class="create-tour-wrapper">

        <div class="container">

            <div class="row">

                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                    <form method="post" enctype="multipart/form-data" class="form">
                        <input type="hidden" asp-for="Blog.Id">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="create-tour-inner">

                            <h4 class="section-title">@pageTitle Blog</h4>

                            <div class="row">

                                <div class="col-xs-12 col-sm-12">

                                    <div class="form-group form-group-lg">
                                        <label>Title:</label>
                                        <input asp-for="Blog.Title" type="text" class="form-control" />
                                        <span asp-validation-for="Blog.Title" class="text-danger"></span>
                                    </div>

                                </div>

                                <div class="col-xs-12 col-sm-12">
                                    <div class="form-group form-group-lg">
                                        <label>Description:</label>
                                        <textarea asp-for="Blog.Descripition" class="form-control" rows="5"></textarea>
                                        <span asp-validation-for="Blog.Descripition" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Category:</label>
                                        <select asp-for="Blog.CategoryId" asp-items="@Model.CategoryList" class="selectpicker show-tick form-control">
                                            <option value="" selected="selected">-- Select One --</option>
                                        </select>
                                    </div>
                                </div>

                                @if (Model.Blog.ImageURL != null)
                                {
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="form-group form-group-lg">
                                            <label>Current Image:</label>
                                            <img src="@Model.Blog.ImageURL" style="max-height:415px">
                                        </div>
                                    </div>
                                }

                                <div class="col-xs-12 col-sm-12 mt-10">
                                    <h4 class="section-title">@imageTitle Image</h4>
                                </div>

                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group bootstrap-fileinput-style-01">
                                        <input id="form-photos" name="files" type="file">
                                        <span class="font12 font-italic">** only jpg, png, tiff are allowed</span>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="mb-50">
                            <button type="submit" class="btn btn-primary btn-wide">Submit</button>
                            <a href="#" class="btn btn-primary btn-wide btn-border">Save as draft</a>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

@section Scripts{ 
<script src="js/jquery.bootstrap-touchspin.js"></script>
<script src="js/dropzone.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.ui.timepicker.js"></script>
<script src="js/bootstrap-tokenfield.js"></script>
<script src="js/typeahead.bundle.min.js"></script>
<script src="js/customs-create.js"></script>

<partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.tiny.cloud/1/i54fe6u5lagl1he8pqydwfq525q0iiqncl244x4bzlp7acjm/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            manubar: 'file edit format',
            height: '280'
        });

    </script>

    <script src="~/js/fileinput.min.js"></script>
    <script src="~/js/customs-fileinput.js"></script>
}
