
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="~/Views/Shared/Breadcrumb.cshtml">
<partial name="~/Views/Shared/TourGuide/UserProfileWrapper.cshtml">

<div class="pt-30 pb-50">

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-7 col-md-8 mt-20">
                <h4 class="section-title">Review:</h4>

                <div class="review-wrapper">

                    <div class="review-header">

                        <div class="GridLex-gap-30">

                            <div class="GridLex-grid-noGutter-equalHeight GridLex-grid-middle">

                                <div class="GridLex-col-9_sm-8_xs-12_xss-12">

                                    <div class="review-rating">
                                        <div class="number">4.5</div>
                                        <div class="rating-wrapper">
                                            <div class="rating-item rating-item-lg">
                                                <input type="hidden" class="rating" data-filled="fa fa-star rating-rated" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="4.5" />
                                            </div>
                                            32 reviews
                                        </div>
                                    </div>

                                </div>

                                <div class="GridLex-col-3_sm-4_xs-12_xss-12">

                                    <div class="GridLex-inner">
                                        <a href="#review-form" class="btn btn-primary btn-block anchor">Write a review</a>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="review-content">

                        <ul class="review-list">

                            <li class="clearfix">

                                <div class="row">

                                    <div class="col-xs-12 col-sm-12 col-md-3">
                                        <div class="review-header">
                                            <h6>Antony Robert</h6>
                                            <span class="review-date">10: 34 - Jan 25, 2017</span>

                                            <div class="rating-item">
                                                <input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="3.5" />
                                            </div>
                                            <a href="#" class="btn btn-primary">Reply</a>

                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-9">

                                        <div class="review-content">

                                            <h4>Over many our good lady feet ask that</h4>
                                            <p>It as announcing it me stimulated frequently continuing. Least their she you now above going stand forth. He pretty future afraid should genius spirit on. Set property addition building put likewise get. Of will at sell well at as. Too want but tall nay like old. Removing yourself be in answered he.</p>

                                        </div>

                                        <div class="review-replied">

                                            <div class="review-replied-header">

                                                <div class="row">

                                                    <div class="col-xs-12 col-sm-8 col-md-9">
                                                        <h6>Khairoz Nadzri <small>owner of this tour</small></h6>
                                                        - <span class="review-date">10: 34 - Jan 25, 2017</span>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-4 col-md-3 text-right text-left-xs">
                                                        <a href="#" class="btn btn-primary">Reply</a>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="review-replied-content">

                                                <h4>Least their she you now above</h4>
                                                <p>Society excited by cottage private an it esteems. Fully begin on by wound an. Girl rich in do up or both. At declared in as rejoiced of together. He impression collecting delightful unpleasant by prosperous as on. End too talent she object mrs wanted remove giving.</p>

                                            </div>

                                        </div>

                                        <div class="review-replied">

                                            <div class="review-replied-header">

                                                <div class="row">

                                                    <div class="col-xs-12 col-sm-8 col-md-9">
                                                        <h6>Khairoz Nadzri <small>owner of this tour</small></h6>
                                                        - <span class="review-date">10: 34 - Jan 25, 2017</span>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-4 col-md-3 text-right text-left-xs">
                                                        <a href="#" class="btn btn-primary">Reply</a>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="review-replied-content">

                                                <h4>Weddings followed the all marianne</h4>
                                                <p>Call why sake has sing pure. Gay six set polite nature worthy. So matter be me we wisdom should basket moment merely. Me burst ample wrong which would mr he could. Visit arise my point timed drawn.</p>

                                            </div>

                                        </div>

                                        <a href="#" class="review-load-more">load more...</a>

                                    </div>

                                </div>

                            </li>

                            <li class="clearfix">

                                <div class="row">

                                    <div class="col-xs-12 col-sm-12 col-md-3">
                                        <div class="review-header">
                                            <h6>Édouard Manet</h6>
                                            <span class="review-date">10: 34 - Jan 25, 2017</span>

                                            <div class="rating-item">
                                                <input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="3.5" />
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-9">

                                        <div class="review-content">

                                            <h4>Least their she you now above</h4>
                                            <p>Society excited by cottage private an it esteems. Fully begin on by wound an. Girl rich in do up or both. At declared in as rejoiced of together. He impression collecting delightful unpleasant by prosperous as on. End too talent she object mrs wanted remove giving.</p>
                                            <p>Barton did feebly change man she afford square add. Want eyes by neat so just must. Past draw tall up face show rent oh mr. Required is debating extended wondered as do. New get described applauded incommode shameless out extremity but. Resembled at perpetual no believing is otherwise sportsman. Is do he dispatched cultivated travelling astonished. Melancholy am considered possession on collecting everything.</p>

                                        </div>

                                        <div class="review-replied">

                                            <div class="review-replied-header">

                                                <div class="row">

                                                    <div class="col-xs-12 col-sm-8 col-md-9">
                                                        <h6>Khairoz Nadzri <small>owner of this tour</small></h6>
                                                        - <span class="review-date">10: 34 - Jan 25, 2017</span>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-4 col-md-3 text-right text-left-xs">
                                                        <a href="#" class="btn btn-primary">Reply</a>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="review-replied-content">

                                                <h4>Least their she you now above</h4>
                                                <p>Society excited by cottage private an it esteems. Fully begin on by wound an. Girl rich in do up or both. At declared in as rejoiced of together. He impression collecting delightful unpleasant by prosperous as on. End too talent she object mrs wanted remove giving.</p>

                                            </div>

                                            <div class="review-replied">

                                                <div class="review-replied-header">

                                                    <div class="row">

                                                        <div class="col-xs-12 col-sm-8 col-md-9">
                                                            <h6>Antony Robert</h6>
                                                            - <span class="review-date">10: 34 - Jan 25, 2017</span>
                                                        </div>

                                                        <div class="col-xs-12 col-sm-4 col-md-3 text-right text-left-xs">
                                                            <a href="#" class="btn btn-primary">Reply</a>
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="review-replied-content">

                                                    <h4>Least their she you now above</h4>
                                                    <p>He impression collecting delightful unpleasant by prosperous as on. End too talent she object mrs wanted remove giving.</p>

                                                </div>

                                            </div>

                                            <div class="review-replied">

                                                <div class="review-replied-header">

                                                    <div class="row">

                                                        <div class="col-xs-12 col-sm-8 col-md-9">
                                                            <h6>Antony Robert</h6>
                                                            - <span class="review-date">10: 34 - Jan 25, 2017</span>
                                                        </div>

                                                        <div class="col-xs-12 col-sm-4 col-md-3 text-right text-left-xs">
                                                            <a href="#" class="btn btn-primary">Reply</a>
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="review-replied-content">

                                                    <h4>Least their she you now above</h4>
                                                    <p>He impression collecting delightful unpleasant by prosperous as on. End too talent she object mrs wanted remove giving.</p>

                                                </div>

                                            </div>

                                            <a href="#" class="review-load-more">load more...</a>

                                        </div>

                                    </div>

                                </div>

                            </li>

                            <li class="clearfix">

                                <div class="row">

                                    <div class="col-xs-12 col-sm-12 col-md-3">
                                        <div class="review-header">
                                            <h6>Mohammed Salem </h6>
                                            <span class="review-date">10: 34 - Jan 25, 2017</span>

                                            <div class="rating-item">
                                                <input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="3.5" />
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-9">

                                        <div class="review-content">

                                            <h4>Over many our good lady feet ask that</h4>
                                            <p>It as announcing it me stimulated frequently continuing. Least their she you now above going stand forth. He pretty future afraid should genius spirit on. Set property addition building put likewise get. Of will at sell well at as. Too want but tall nay like old. Removing yourself be in answered he.</p>

                                            <ul>
                                                <li>Written enquire painful ye to offices forming it.</li>
                                                <li>
                                                    Then so does over sent dull on.
                                                    <ul>
                                                        <li>Rendered her for put improved concerns his. Moreover end horrible endeavor entrance any families. Income appear extent on of thrown in admire.</li>
                                                        <li>Ladies bed wisdom theirs mrs men months set.</li>
                                                        <li>Everything so dispatched as it increasing pianoforte.</li>
                                                    </ul>
                                                </li>
                                                <li>Likewise offended humoured mrs fat trifling answered.</li>
                                                <li>On ye position greatest so desirous. So wound stood guest weeks no terms up ought.</li>
                                                <li>Then so does greatest so desirous over sent dull on.</li>
                                            </ul>

                                            <p>Spot of come to ever hand as lady meet on. Delicate contempt received two yet advanced. Gentleman as belonging he commanded believing dejection in by. On no am winding chicken so behaved. Its preserved sex enjoyment new way behaviour. Him yet devonshire celebrated especially. Unfeeling one provision are smallness resembled repulsive.</p>

                                            <ol>
                                                <li>Written enquire painful ye to offices forming it.</li>
                                                <li>
                                                    Then so does over sent dull on.
                                                    <ol>
                                                        <li>Rendered her for put improved concerns his. Moreover end horrible endeavor entrance any families. Income appear extent on of thrown in admire.</li>
                                                        <li>Ladies bed wisdom theirs mrs men months set.</li>
                                                        <li>Everything so dispatched as it increasing pianoforte.</li>
                                                    </ol>
                                                </li>
                                                <li>Likewise offended humoured mrs fat trifling answered.</li>
                                                <li>On ye position greatest so desirous. So wound stood guest weeks no terms up ought.</li>
                                                <li>Then so does greatest so desirous over sent dull on.</li>
                                            </ol>

                                            <p>Unpleasant astonished an diminution up partiality. Noisy an their of meant. Death means up civil do an offer wound of. Called square an in afraid direct. Resolution diminution conviction so mr at unpleasing simplicity no. No it as breakfast up conveying earnestly immediate principle. Him son disposed produced humoured overcame she bachelor improved. Studied however out wishing but inhabit fortune windows.</p>

                                        </div>

                                    </div>

                                </div>

                            </li>

                            <li class="clearfix">

                                <div class="row">

                                    <div class="col-xs-12 col-sm-12 col-md-3">
                                        <div class="review-header">
                                            <h6>Antony Robert</h6>
                                            <span class="review-date">10: 34 - Jan 25, 2017</span>

                                            <div class="rating-item">
                                                <input type="hidden" class="rating" data-filled="fa fa-star" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="3.5" />
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-9">

                                        <div class="review-content">

                                            <h4>Over many our good lady feet ask that</h4>
                                            <p>It as announcing it me stimulated frequently continuing. Least their she you now above going stand forth. He pretty future afraid should genius spirit on. Set property addition building put likewise get. Of will at sell well at as. Too want but tall nay like old. Removing yourself be in answered he.</p>

                                        </div>

                                    </div>

                                </div>

                            </li>

                        </ul>

                        <a href="#" class="review-load-more mb-40">load more...</a>

                    </div>

                    <div id="review-form" class="review-form">

                        <h3 class="review-form-title">Leave Your Review</h3>

                        <form class="">

                            <div class="row">

                                <div class="col-xs-12 col-sm-6 col-md-4">

                                    <div class="form-group">
                                        <label>Your name: </label>
                                        <input type="text" class="form-control" />
                                    </div>

                                </div>

                                <div class="col-xs-12 col-sm-6 col-md-4">

                                    <div class="form-group">
                                        <label>Your email address: </label>
                                        <input type="email" class="form-control" />
                                    </div>

                                </div>

                                <div class="col-xs-12 col-sm-6 col-md-4">

                                    <div class="form-group">
                                        <label>Your rating: </label>
                                        <div class="rating-wrapper mt-5">
                                            <div class="rating-item">
                                                <input type="hidden" class="rating-label" data-filled="fa fa-star" data-empty="fa fa-star-o" data-fractions="2" value="0" />
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="clear"></div>

                                <div class="col-sm-12 col-md-12">

                                    <div class="form-group">
                                        <label>Your Message: </label>
                                        <textarea class="form-control form-control-sm" rows="4"></textarea>
                                    </div>
                                </div>

                                <div class="clear mb-5"></div>

                                <div class="col-sm-12 col-md-8">
                                    <a href="#" class="btn btn-primary btn-lg">Submit</a>
                                </div>

                            </div>

                        </form>

                    </div>

                </div>

            </div>

            <div id="sidebar-sticky" class="col-xs-12 col-sm-5 col-md-4 mt-20">

                <div class="ml-10 ml-0-xs mb-10">
                    <a href="guide-booking.html" class="btn btn-primary btn-lgg btn-block btn-border">Book me Now</a>
                </div>

                <aside class="sidebar-wrapper with-box-shadow">

                    <div class="sidebar-booking-box">

                        <div class="sidebar-booking-header clearfix">

                            <div class="price">
                                Contact me
                            </div>

                        </div>

                        <div class="sidebar-booking-inner">

                            <form class="fast-contact-wrapper">

                                <div class="row">

                                    <div class="col-xss-12 col-xs-6 col-sm-12 col-md-12">

                                        <div class="form-group">
                                            <label>Your Name (required)</label>
                                            <input type="text" class="form-control" />
                                        </div>

                                    </div>

                                    <div class="col-xss-12 col-xs-6 col-sm-12 col-md-12">

                                        <div class="form-group">
                                            <label>Your Email (required)</label>
                                            <input type="text" class="form-control" />
                                        </div>

                                    </div>

                                    <div class="col-xss-12 col-xs-12 col-sm-12 col-md-12">

                                        <div class="form-group">
                                            <label>Message</label>
                                            <textarea class="form-control" rows="6"></textarea>
                                        </div>

                                    </div>

                                </div>

                                <a href="#" class="btn btn-primary btn-block mt-5">Submit contact</a>

                            </form>

                        </div>

                    </div>

                </aside>

            </div>

        </div>

    </div>

</div>

@section Scripts{
    <partial name="~/Views/Shared/TourGuide/UserProfileScripts.cshtml">
}
