@{
    ViewData["Title"] = "Home Page";
    ViewData["AddClassToBodyTag"] = "home transparent-header";
}

<div id="introLoader" class="introLoading"></div>

<!-- start hero-header -->
<div class="hero img-bg-01">
    <div class="container">

        <h1>Egy guide... Discover Egypt</h1>
        <p>Discover and book your unique travel experiences offered by our private tour guides</p>

        <form>
            <div class="form-group">
                <input type="text" placeholder="eg: Cairo, Luxor, Dahab" class="form-control flexdatalist" data-data="data/countries.json" data-search-in='["name","capital"]' data-visible-properties='["capital","name","continent"]' data-group-by="continent" data-selection-required="true" data-focus-first-result="true" data-min-length="1" data-value-property="iso2" data-text-property="{capital}, {name}" data-search-contain="false" name="countries">
                <button class="btn"><i class="icon-magnifier"></i></button>
            </div>
        </form>

        <div class="top-search">
            <span class="font700">Top Searches : </span>
            <a href="#">Cairo</a>
            <a href="#">Giza</a>
            <a href="#">Alexandria</a>
            <a href="#">Sharm El Sheikh</a>
            <a href="#">Luxor</a>
        </div>

    </div>

</div>
<!-- end hero-header -->

<div class="post-hero hidden-xs clearfix pt-40 pb-40">

    <div class="container">

        <div class="row">

            <div class="col-md-10 col-md-offset-1">

                <div class="row gap-0">

                    <div class="col-xss-12 col-xs-6 col-sm-3">
                        <div class="counting-item">
                            <div class="icon">
                                <i class="icon-directions"></i>
                            </div>
                            <p class="number">267</p>
                            <p>Packages</p>
                        </div>
                    </div>

                    <div class="col-xss-12 col-xs-6 col-sm-3">
                        <div class="counting-item">
                            <div class="icon">
                                <i class="icon-user"></i>
                            </div>
                            <p class="number">189</p>
                            <p>Guides</p>
                        </div>
                    </div>

                    <div class="col-xss-12 col-xs-6 col-sm-3">
                        <div class="counting-item">
                            <div class="icon">
                                <i class="icon-location-pin"></i>
                            </div>
                            <p class="number">9</p>
                            <p>Destinations</p>
                        </div>
                    </div>

                    <div class="col-xss-12 col-xs-6 col-sm-3">
                        <div class="counting-item">
                            <div class="icon">
                                <i class="icon-envelope-letter"></i>
                            </div>
                            <p class="number">237</p>
                            <p>Requests</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<div class="container pt-70 pb-60 clearfix">

    <div class="row">

        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

            <div class="section-title">

                <h2>Top Destinations</h2>

            </div>

        </div>

    </div>

    <div class="mb-30">

        <div class="GridLex-gap-30 GridLex-gap-20-mdd GridLex-gap-10-xs">

            <div class="GridLex-grid-noGutter-equalHeight">

                <div class="GridLex-col-4_sm-4_xs-6_xss-12">

                    <div class="top-destination-item">
                        <a asp-controller="Offered" asp-action="Index">
                            <div class="image">
                                <img src="images/top-destinations/01.jpg" alt="images" />
                            </div>
                            <h4 class="uppercase"><span>Cairo</span></h4>
                            <p>254 packages<br /> 142 requests<br /> 12 guides</p>
                        </a>
                    </div>

                </div>

                <div class="GridLex-col-4_sm-4_xs-6_xss-12">

                    <div class="top-destination-item">
                        <a href="#">
                            <div class="image">
                                <img src="images/top-destinations/02.jpg" alt="images" />
                            </div>
                            <h4 class="uppercase"><span>Alexandria</span></h4>
                            <p>254 packages<br /> 142 requests<br /> 52 guides</p>
                        </a>
                    </div>

                </div>

                <div class="GridLex-col-4_sm-4_xs-6_xss-12">

                    <div class="top-destination-item">
                        <a href="#">
                            <div class="image">
                                <img src="images/top-destinations/03.jpg" alt="images" />
                            </div>
                            <h4 class="uppercase"><span>Luxor</span></h4>
                            <p>254 packages<br /> 142 requests<br /> 52 guides</p>
                        </a>
                    </div>

                </div>

                <div class="GridLex-col-4_sm-4_xs-6_xss-12">

                    <div class="top-destination-item">
                        <a href="#">
                            <div class="image">
                                <img src="images/top-destinations/04.jpg" alt="images" />
                            </div>
                            <h4 class="uppercase"><span>Aswan</span></h4>
                            <p>254 packages<br /> 142 requests<br /> 52 guides</p>
                        </a>
                    </div>

                </div>

                <div class="GridLex-col-4_sm-4_xs-6_xss-12">

                    <div class="top-destination-item">
                        <a href="#">
                            <div class="image">
                                <img src="images/top-destinations/05.jpg" alt="images" />
                            </div>
                            <h4 class="uppercase"><span>Hurghada</span></h4>
                            <p>254 packages<br /> 142 requests<br /> 52 guides</p>
                        </a>
                    </div>

                </div>

                <div class="GridLex-col-4_sm-4_xs-6_xss-12">

                    <div class="top-destination-item">
                        <a href="#">
                            <div class="image">
                                <img src="images/top-destinations/06.jpg" alt="images" />
                            </div>
                            <h4 class="uppercase"><span>Dahab</span></h4>
                            <p>254 packages<br /> 142 requests<br /> 52 guides</p>
                        </a>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<div class="bg-white pt-70 pb-60 clearfix">

    <div class="container">

        <div class="row">

            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                <div class="section-title">

                    <h2>Recommended trips</h2>
                    <p class="lead">The trips that offered by local guides or experts for travellers</p>
                </div>

            </div>

        </div>

        <div class="trip-guide-wrapper mb-30">

            <div class="GridLex-gap-30 GridLex-gap-20-mdd GridLex-gap-10-xs">

                <div class="GridLex-grid-noGutter-equalHeight">

                    <div class="GridLex-col-3_mdd-6_sm-6_xs-6_xss-12">

                        <div class="trip-guide-item">

                            <div class="trip-guide-image">
                                <img src="images/trip/01.jpg" alt="images" />
                            </div>

                            <div class="trip-guide-content">
                                <h3>Day in Alexandria </h3>
                                <p>All beautiful sites of the city of Alexandria just in one day!!!.Adventure in Alexandrian Streets.</p>
                            </div>

                            <div class="trip-guide-bottom">

                                <div class="trip-guide-person clearfix">
                                    <div class="image">
                                        <img src="images/testimonial/01.jpg" class="img-circle" alt="images" />
                                    </div>
                                    <p class="name">By: <a href="#">Shady Kahlil</a></p>
                                    <p>Expert tour guide from Egypt</p>
                                </div>

                                <div class="trip-guide-meta row gap-10">
                                    <div class="col-xs-6 col-sm-6">
                                        <div class="rating-item">
                                            <input type="hidden" class="rating" data-filled="fa fa-star rating-rated" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="4.5" />
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 text-right">
                                        5 days 4 nights
                                    </div>
                                </div>

                                <div class="row gap-10">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="trip-guide-price">
                                            Starting at
                                            <span class="block inline-block-xs">USD 687.00</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 text-right text-left-xs">
                                        <a asp-controller="OfferedDetails" asp-action="Index" class="btn btn-primary">Details</a>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="GridLex-col-3_mdd-6_sm-6_xs-6_xss-12">

                        <div class="trip-guide-item">

                            <div class="trip-guide-image">
                                <img src="images/trip/02.jpg" alt="images" />
                            </div>

                            <div class="trip-guide-content">
                                <h3>Egyptian Museum, Citadel and Old Cairo...</h3>
                                <p>Discover Pharaohs' hordes, crumbling mummies and gleaming antiquities</p>
                            </div>

                            <div class="trip-guide-bottom">

                                <div class="trip-guide-person clearfix">
                                    <div class="image">
                                        <img src="images/testimonial/01.jpg" class="img-circle" alt="images" />
                                    </div>
                                    <p class="name">By: <a href="guide-detail.html">Shady Kahlil</a></p>
                                    <p>Expert tour guide from Egypt</p>
                                </div>

                                <div class="trip-guide-meta row gap-10">
                                    <div class="col-xs-6 col-sm-6">
                                        <div class="rating-item">
                                            <input type="hidden" class="rating" data-filled="fa fa-star rating-rated" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="4.0" />
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 text-right">
                                        6 hours
                                    </div>
                                </div>

                                <div class="row gap-10">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="trip-guide-price">
                                            Starting at
                                            <span class="block inline-block-xs">USD 150.00</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 text-right text-left-xs">
                                        <a href="offered-detail.html" class="btn btn-primary">Details</a>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="GridLex-col-3_mdd-6_sm-6_xs-6_xss-12">

                        <div class="trip-guide-item">

                            <div class="trip-guide-image">
                                <img src="images/trip/03.jpg" alt="images" />
                            </div>

                            <div class="trip-guide-content">
                                <h3>Giza Pyramids Half-Day Private Tour</h3>
                                <p>Giza Pyramids, Sphinx & Sahara Desert extremely wonderful...</p>
                            </div>

                            <div class="trip-guide-bottom">

                                <div class="trip-guide-person clearfix">
                                    <div class="image">
                                        <img src="images/testimonial/01.jpg" class="img-circle" alt="images" />
                                    </div>
                                    <p class="name">By: <a href="#">Shady Kahlil</a></p>
                                    <p>Expert tour guide from Egypt</p>
                                </div>

                                <div class="trip-guide-meta row gap-10">
                                    <div class="col-xs-6 col-sm-6">
                                        <div class="rating-item">
                                            <input type="hidden" class="rating" data-filled="fa fa-star rating-rated" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="3.5" />
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 text-right">
                                        5 days 4 nights
                                    </div>
                                </div>

                                <div class="row gap-10">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="trip-guide-price">
                                            Starting at
                                            <span class="block inline-block-xs">USD 687.00</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 text-right text-left-xs">
                                        <a href="#" class="btn btn-primary">Details</a>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="GridLex-col-3_mdd-6_sm-6_xs-6_xss-12">

                        <div class="trip-guide-item">

                            <div class="trip-guide-image">
                                <img src="images/trip/04.jpg" alt="images" />
                            </div>

                            <div class="trip-guide-content">
                                <h3>Full Day Private Tour in Aswan</h3>
                                <p>Do you have a free day in Aswan? would you like to see Edfu and Kom,...</p>
                            </div>

                            <div class="trip-guide-bottom">

                                <div class="trip-guide-person clearfix">
                                    <div class="image">
                                        <img src="images/testimonial/01.jpg" class="img-circle" alt="images" />
                                    </div>
                                    <p class="name">By: <a href="#">Shady Kahlil</a></p>
                                    <p>Expert tour guide from Egypt</p>
                                </div>

                                <div class="trip-guide-meta row gap-10">
                                    <div class="col-xs-6 col-sm-6">
                                        <div class="rating-item">
                                            <input type="hidden" class="rating" data-filled="fa fa-star rating-rated" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="4.5" />
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 text-right">
                                        5 days 4 nights
                                    </div>
                                </div>

                                <div class="row gap-10">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="trip-guide-price">
                                            Starting at
                                            <span class="block inline-block-xs">USD 687.00</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 text-right text-left-xs">
                                        <a href="#" class="btn btn-primary">Details</a>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<div class="clearfix">

    <div class="container pt-70 pb-60">

        <div class="row">

            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                <div class="section-title">

                    <h2>latest requested trips</h2>
                    <p class="lead">The trips that travellers are looking for local guides or experts for them</p>
                </div>

            </div>

        </div>

        <div class="wanted-trip-wrapper mb-30">

            <div class="GridLex-gap-30 GridLex-gap-20-mdd GridLex-gap-10-xs">

                <div class="GridLex-grid-noGutter-equalHeight">

                    <div class="GridLex-col-3_mdd-6_sm-6_xs-6_xss-12">

                        <div class="wanted-trip-item">

                            <div class="wanted-trip-header">
                                <h3>Need expert guide to bring me to cairo for 3 days 2 nights</h3>
                                <p><i class="icon-location-pin"></i> Giza <span class="mh-5 text-light">|</span> <i class="icon-directions"></i> for business</p>

                            </div>

                            <div class="wanted-trip-person clearfix">
                                <div class="image">
                                    <img src="images/testimonial/01.jpg" class="img-circle" alt="images" />
                                </div>
                                <p class="name">By: <a href="#">Shady Kahlil</a></p>
                                <p>Italy</p>
                            </div>

                            <div class="wanted-trip-bottom clearfix">
                                <div class="row gap-10">
                                    <div class="col-xs-12 col-sm-7">
                                        <div class="wanted-trip-price">
                                            my budget
                                            <span class="block inline-block-xs">USD 342.00</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-5">
                                        <a asp-controller="RequestedDetails" asp-action="Index" class="btn btn-primary btn-block mt-10-xs">Details</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="GridLex-col-3_mdd-6_sm-6_xs-6_xss-12">

                        <div class="wanted-trip-item">

                            <div class="wanted-trip-header">

                                <h3>I need a guide to show alex to me..</h3>
                                <p><i class="icon-location-pin"></i> Alexandria <span class="mh-5 text-light">|</span> <i class="icon-directions"></i> for seminar</p>

                            </div>

                            <div class="wanted-trip-person clearfix">
                                <div class="image">
                                    <img src="images/testimonial/01.jpg" class="img-circle" alt="images" />
                                </div>
                                <p class="name">By: <a href="#">Shady Kahlil</a></p>
                                <p>Hong Kong</p>
                            </div>

                            <div class="wanted-trip-bottom clearfix">
                                <div class="row gap-10">
                                    <div class="col-xs-12 col-sm-7">
                                        <div class="wanted-trip-price">
                                            my budget
                                            <span class="block inline-block-xs">USD 342.00</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-5">
                                        <a href="#" class="btn btn-primary btn-block mt-10-xs">Details</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="GridLex-col-3_mdd-6_sm-6_xs-6_xss-12">

                        <div class="wanted-trip-item">

                            <div class="wanted-trip-header">

                                <h3>Can you help me to put a tour in Sharm El Sheikh .</h3>
                                <p><i class="icon-location-pin"></i> Sharm El Sheikh  <span class="mh-5 text-light">|</span> <i class="icon-directions"></i> for holiday</p>

                            </div>

                            <div class="wanted-trip-person clearfix">
                                <div class="image">
                                    <img src="images/testimonial/01.jpg" class="img-circle" alt="images" />
                                </div>
                                <p class="name">By: <a href="#">Shady Kahlil</a></p>
                                <p>Malaysia</p>
                            </div>

                            <div class="wanted-trip-bottom clearfix">
                                <div class="row gap-10">
                                    <div class="col-xs-12 col-sm-7">
                                        <div class="wanted-trip-price">
                                            my budget
                                            <span class="block inline-block-xs">USD 342.00</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-5">
                                        <a href="#" class="btn btn-primary btn-block mt-10-xs">Details</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="GridLex-col-3_mdd-6_sm-6_xs-6_xss-12">

                        <div class="wanted-trip-item">

                            <div class="wanted-trip-header">

                                <h3>A guide to help me in Luxor to discover it very well.</h3>
                                <p><i class="icon-location-pin"></i> Luxor <span class="mh-5 text-light">|</span> <i class="icon-directions"></i> for vocation</p>

                            </div>

                            <div class="wanted-trip-person clearfix">
                                <div class="image">
                                    <img src="images/testimonial/01.jpg" class="img-circle" alt="images" />
                                </div>
                                <p class="name">By: <a href="#">Shady Kahlil</a></p>
                                <p>Germany</p>
                            </div>

                            <div class="wanted-trip-bottom clearfix">
                                <div class="row gap-10">
                                    <div class="col-xs-12 col-sm-7">
                                        <div class="wanted-trip-price">
                                            my budget
                                            <span class="block inline-block-xs">USD 342.00</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-5">
                                        <a href="#" class="btn btn-primary btn-block mt-10-xs">Details</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<div class="bg-white half-image-text max-width-wrapper">

    <div class="GridLex-grid-noGutter-equalHeight">

        <div class="GridLex-col-6_sm-5_xs-12_xss-12">

            <div class="half-image-text-image-bg" style="background-image:url('images/how-it-work-1.jpg');"></div>

        </div>

        <div class="GridLex-col-6_sm-7_xs-12_xss-12">

            <div class="half-image-text-content">

                <div class="section-title">
                    <h3 class="text-left">How it works for guides</h3>
                </div>

                <div class="how-it-work-item-wrapper">

                    <div class="how-it-work-item clearfix">
                        <div class="icon">
                            <i class="icon-note"></i>
                        </div>
                        <div class="content">
                            <span class="number">01.</span>
                            <h3>Create a Trip Program</h3>
                            <p>Be yourself and create your own trip program in your city or around Egypt. Let your guests discover the city by your trip. Choose your price for this awesome trip.</p>
                        </div>
                    </div>

                    <div class="how-it-work-item clearfix">
                        <div class="icon">
                            <i class="icon-cloud-upload"></i>
                        </div>
                        <div class="content">
                            <span class="number">02.</span>
                            <h3>Publish Your Trip Program</h3>
                            <p>Publish your trip program and decide who you want to meet and when. Be ready to get to know people who love your country from around the world.</p>
                        </div>
                    </div>

                    <div class="how-it-work-item clearfix">
                        <div class="icon">
                            <i class="icon-speech"></i>
                        </div>
                        <div class="content">
                            <span class="number">03.</span>
                            <h3>Traveller Contact &amp; Deal With You</h3>
                            <p>Tourists will contact and deal with you to meet them. Show your guests the best your trip has to offer to get best ratings and reviews.</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<div class="bg-white half-image-text bt-sm max-width-wrapper">

    <div class="GridLex-grid-noGutter-equalHeight">

        <div class="GridLex-col-6_sm-7_xs-12_xss-12">

            <div class="half-image-text-content">

                <div class="section-title">
                    <h3 class="text-left">How it works for travellers</h3>
                </div>

                <div class="how-it-work-item-wrapper">

                    <div class="how-it-work-item clearfix">
                        <div class="icon">
                            <i class="icon-note"></i>
                        </div>
                        <div class="content">
                            <span class="number">01.</span>
                            <h3>Find Or Create a Wanted Trip for Guide</h3>
                            <p>You can browse guides and trip to find one you like. You can also create a wanted trip for guide.</p>
                        </div>
                    </div>

                    <div class="how-it-work-item clearfix">
                        <div class="icon">
                            <i class="icon-cloud-upload"></i>
                        </div>
                        <div class="content">
                            <span class="number">02.</span>
                            <h3>Local Guide Contact &amp; Deal with You</h3>
                            <p>You can contact and deal with local guide that you like to discuss activity before you meet.</p>
                        </div>
                    </div>

                    <div class="how-it-work-item clearfix">
                        <div class="icon">
                            <i class="icon-speech"></i>
                        </div>
                        <div class="content">
                            <span class="number">03.</span>
                            <h3>Book &amp; Pay Online</h3>
                            <p>Simply, just book and pay online.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="GridLex-col-6_sm-5_xs-12_xss-12">

            <div class="half-image-text-image-bg" style="background-image:url('images/how-it-work-2.jpg');"></div>

        </div>

    </div>

</div>

<div class="clearfix">

    <div class="container pt-90 pb-60">

        <div class="fearured-join-wrapper clearfix">

            <div class="row">

                <div class="col-sm-6">

                    <div class="fearured-join-item">
                        <span>for guide</span>
                        <h2>Create Your Trip Program?</h2>
                        <p class="mb-20">Rooms oh fully taken by worse do. Points afraid but may end law lasted. Was out laughter raptures returned outweigh outward the him existence assurance.</p>
                        <a href="#registerModal" class="btn btn-success btn-lg">Join for Guide</a>
                    </div>

                </div>

                <div class="col-sm-6 bt-xs pt-30-xs">

                    <div class="fearured-join-item">
                        <span>for traveller</span>
                        <h2>Find Someone to Guide?</h2>
                        <p class="mb-20">Certainty listening no no behaviour existence assurance situation is. Because add why not esteems amiable him Interested the unaffected laughter raptures.</p>
                        <a href="#registerModal" class="btn btn-danger btn-lg">Join for traveller</a>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<div class="bg-white">

    <div class="pt-70 pb-60 max-width-wrapper">

        <div class="container">

            <div class="row">

                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                    <div class="section-title">

                        <h2>communities</h2>

                    </div>

                </div>

            </div>

        </div>

        <div class="community-wrapper mb-30">

            <div class="GridLex-gap-30 GridLex-gap-20-mdd GridLex-gap-10-xs">

                <div class="GridLex-grid-noGutter-equalHeight">

                    <div class="GridLex-col-3_mdd-6_sm-6_xs-6_xss-12">

                        <a asp-controller="Blog" asp-action="Index" class="community-item">
                            <div class="image-object-fit image-object-fit-cover image">
                                <img src="images/blog/01.jpg" alt="images" />
                            </div>
                            <div class="community-item-category"><span class="bg-danger">Travel</span></div>
                            <div class="community-item-caption">
                                <h3>Behaviour we improving at something to</h3>
                                <p>Evil true high lady roof men had open. To projection considered it precaution...</p>
                                <div class="community-item-meta">
                                    <div class="row gap-10">
                                        <div class="col-xs-8 col-sm-8">
                                            by admin on Jan 12, 2016
                                        </div>
                                        <div class="col-xs-4 col-sm-4 text-right">
                                            read <i class="icon-arrow-right-circle font12"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>

                    <div class="GridLex-col-3_mdd-6_sm-6_xs-6_xss-12">

                        <a href="#" class="community-item">
                            <div class="image-object-fit image-object-fit-cover image">
                                <img src="images/blog/02.jpg" alt="images" />
                            </div>
                            <div class="community-item-category"><span class="bg-info">Hotel</span></div>
                            <div class="community-item-caption">
                                <h3>Wound young you thing worse along being ham</h3>
                                <p>Dissimilar of favourable solicitude if sympathize middletons at. Forfeited disposing...</p>
                                <div class="community-item-meta">
                                    <div class="row gap-10">
                                        <div class="col-xs-8 col-sm-8">
                                            by admin on Jan 12, 2016
                                        </div>
                                        <div class="col-xs-4 col-sm-4 text-right">
                                            read <i class="icon-arrow-right-circle font12"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>

                    <div class="GridLex-col-3_mdd-6_sm-6_xs-6_xss-12">

                        <a href="#" class="community-item">
                            <div class="image-object-fit image-object-fit-cover image">
                                <img src="images/blog/03.jpg" alt="images" />
                            </div>
                            <div class="community-item-category"><span class="bg-success">Flight</span></div>
                            <div class="community-item-caption">
                                <h3> perfectly in an eagerness perceived necessary</h3>
                                <p>Belonging sir curiosity discovery extremity yet forfeited prevailed own off...</p>
                                <div class="community-item-meta">
                                    <div class="row gap-10">
                                        <div class="col-xs-8 col-sm-8">
                                            by admin on Jan 12, 2016
                                        </div>
                                        <div class="col-xs-4 col-sm-4 text-right">
                                            read <i class="icon-arrow-right-circle font12"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>

                    <div class="GridLex-col-3_mdd-6_sm-6_xs-6_xss-12">

                        <a href="#" class="community-item">
                            <div class="image-object-fit image-object-fit-cover image">
                                <img src="images/blog/04.jpg" alt="images" />
                            </div>
                            <div class="community-item-category"><span class="bg-info">Hotel</span></div>
                            <div class="community-item-caption">
                                <h3> Travelling by introduced of mr terminated</h3>
                                <p>Knew as miss my high hope quit. In curiosity shameless dependent knowledge up...</p>
                                <div class="community-item-meta">
                                    <div class="row gap-10">
                                        <div class="col-xs-8 col-sm-8">
                                            by admin on Jan 12, 2016
                                        </div>
                                        <div class="col-xs-4 col-sm-4 text-right">
                                            read <i class="icon-arrow-right-circle font12"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

@section Scripts{
    <script src="~/js/jquery.flexdatalist.js"></script>
}