<div class="page-title detail-header-02">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

            <h2>Tour to Giza Pyramids and the National Museum</h2>
            <span class="labeling text-white mt-25"><span>Giza Pyramids &amp; National Museum</span> <span>7 hours</span></span>
            <div class="rating-item rating-item-lg mb-25">
                <input type="hidden" class="rating" data-filled="fa fa-star rating-rated" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="4.5" />
                <div class="rating-text"> <a href="#">(32 reviews)</a></div>
            </div>
            <ul class="list-with-icon list-inline-block">
                <li><i class="ion-android-done text-primary"></i>100% private</li>
                <li><i class="ion-android-done text-primary"></i>Instantly confirmed</li>
                <li><i class="ion-android-done text-primary"></i>Free cancellation</li>
                <li><i class="ion-android-done text-primary"></i>Satisfaction guarantee</li>
            </ul>

        </div>
    </div>
</div>