<div class="page-title">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            
            <h2>Explore Tours</h2>
            <p>Enjoy an unforgettable private tour with a friendly personal guide from Egy Guide.</p>
        </div>
    </div>
</div>