@{ 
    var links = (Context.Request.Path.Value).ToString().TrimStart('/').Split("/").ToList();
}

<ol class="breadcrumb" style="text-transform:capitalize">
    @foreach (var link in links)
    {
        <li><a>@link</a></li>
    }
</ol>