<!-- For Create & PromoBoxes Pages -->

<div class="breadcrumb-image-bg @ViewData["AddToBreadcrumbHeaderHereBox"]" style="background-image:url('images/breadcrumb-bg.jpg');">
    <div class="container">
        <partial name="BreadcrumbTitleForCreate">

        <div class="breadcrumb-wrapper">
            <partial name="BreadcrumbOL">
        </div>

    </div>
</div>