<!-- For Details Pages -->

<div class="breadcrumb-image-bg detail-breadcrumb" style="background-image:url('images/detail-header.jpg');">
    <div class="container">
        <partial name="BreadcrumbTitleForDetails">

            <div class="breadcrumb-wrapper text-left">
                <partial name="BreadcrumbOL">
            </div>

    </div>
</div>