@{ 
    var links = (Context.Request.Path.Value).ToString().TrimStart('/').Split("/").ToList();
}

<!-- start breadcrumb -->

<div class="breadcrumb-image-bg" style="background-image:url('images/breadcrumb-bg.jpg');">
    <div class="container">

        <div class="page-title">

            <div class="row">

                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

                    <h2>Tour offer results</h2>
                    <p>Cairo Overview :  Enjoy an unforgettable private tour with a friendly personal guide from Egy Guide. Each of our Cairo tours features a local private guide who knows this city as only locals do, and will give you.</p>

                </div>

            </div>

        </div>

        <div class="breadcrumb-wrapper">

            <ol class="breadcrumb" style="text-transform:capitalize">
                @foreach (var link in links)
                {
                    <li><a href="#">@link</a></li>
                }
            </ol>

        </div>

    </div>

</div>

<!-- end breadcrumb -->