
@{
    ViewData["Title"] = "Admin - Guides";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="padding-30">
    <h2>Panel - Guides</h2>
    <table id="tblData" class="table table-striped" style="width:100%;text-align:center">
        <thead class="thead-dark">
            <tr class="table-info">
                <th>Guide Name</th>
                <th>Status</th>
                <th>RegistrationDate</th>
                <th>Details</th>
                <th>Process</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script>
        $(".table-info th").css("text-align", "center")
    </script>
    <script src="~/js/Dashboard/admin/guide.js"></script>
}

