
@{
    ViewData["Title"] = "Guide Profile - Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="~/Views/Shared/Breadcrumb.cshtml">
<partial name="~/Views/Shared/TourGuide/UserProfileWrapper.cshtml">

<div class="pt-30 pb-50">

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-7 col-md-8 mt-20">
                <h4 class="section-title">Gallery:</h4>

                <div class="gallery-wrapper">

                    <div class="GridLex-gap-5">

                        <div class="GridLex-grid-noGutter-equalHeight GridLex-grid-middle">

                            <div class="GridLex-col-4_sm-4_xs-4_xss-6">
                                <div class="sumi-gallery-wrapper clearfix">
                                    <div class="gallery-item image-object-fit image-object-fit-cover">
                                        <img data-sgallery="guideGallery" title="Guide Gallery" data-full="images/guide-lightbox/01.jpg" data-thumb="images/guide-lightbox/01.jpg" src="~/images/guide-lightbox/01.jpg" alt="images">
                                    </div>
                                </div>
                            </div>

                            <div class="GridLex-col-4_sm-4_xs-4_xss-6">
                                <div class="sumi-gallery-wrapper clearfix">
                                    <div class="gallery-item image-object-fit image-object-fit-cover">
                                        <img data-sgallery="guideGallery" title="Guide Gallery" data-full="images/guide-lightbox/02.jpg" data-thumb="images/guide-lightbox/02.jpg" src="~/images/guide-lightbox/02.jpg" alt="images">
                                    </div>
                                </div>
                            </div>

                            <div class="GridLex-col-4_sm-4_xs-4_xss-6">
                                <div class="sumi-gallery-wrapper clearfix">
                                    <div class="gallery-item image-object-fit image-object-fit-cover">
                                        <img data-sgallery="guideGallery" title="Guide Gallery" data-full="images/guide-lightbox/03.jpg" data-thumb="images/guide-lightbox/03.jpg" src="~/images/guide-lightbox/03.jpg" alt="images">
                                    </div>
                                </div>
                            </div>

                            <div class="GridLex-col-3_sm-4_xs-4_xss-6">
                                <div class="sumi-gallery-wrapper clearfix">
                                    <div class="gallery-item image-object-fit image-object-fit-cover">
                                        <img data-sgallery="guideGallery" title="Guide Gallery" data-full="images/guide-lightbox/04.jpg" data-thumb="images/guide-lightbox/04.jpg" src="~/images/guide-lightbox/04.jpg" alt="images">
                                    </div>
                                </div>
                            </div>

                            <div class="GridLex-col-3_sm-4_xs-4_xss-6">
                                <div class="sumi-gallery-wrapper clearfix">
                                    <div class="gallery-item image-object-fit image-object-fit-cover">
                                        <img data-sgallery="guideGallery" title="Guide Gallery" data-full="images/guide-lightbox/05.jpg" data-thumb="images/guide-lightbox/05.jpg" src="~/images/guide-lightbox/05.jpg" alt="images">
                                    </div>
                                </div>
                            </div>

                            <div class="GridLex-col-3_sm-4_xs-4_xss-6">
                                <div class="sumi-gallery-wrapper clearfix">
                                    <div class="gallery-item image-object-fit image-object-fit-cover">
                                        <img data-sgallery="guideGallery" title="Guide Gallery" data-full="images/guide-lightbox/06.jpg" data-thumb="images/guide-lightbox/06.jpg" src="~/images/guide-lightbox/06.jpg" alt="images">
                                    </div>
                                </div>
                            </div>

                            <div class="GridLex-col-3_sm-4_xs-4_xss-6">
                                <div class="sumi-gallery-wrapper clearfix">
                                    <div class="gallery-item image-object-fit image-object-fit-cover">
                                        <img data-sgallery="guideGallery" title="Guide Gallery" data-full="images/guide-lightbox/07.jpg" data-thumb="images/guide-lightbox/07.jpg" src="~/images/guide-lightbox/07.jpg" alt="images">
                                    </div>
                                </div>
                            </div>

                            <div class="GridLex-col-3_sm-4_xs-4_xss-6">
                                <div class="sumi-gallery-wrapper clearfix">
                                    <div class="gallery-item image-object-fit image-object-fit-cover">
                                        <img data-sgallery="guideGallery" title="Guide Gallery" data-full="images/guide-lightbox/08.jpg" data-thumb="images/guide-lightbox/08.jpg" src="~/images/guide-lightbox/08.jpg" alt="images">
                                    </div>
                                </div>
                            </div>

                            <div class="GridLex-col-3_sm-4_xs-4_xss-6">
                                <div class="sumi-gallery-wrapper clearfix">
                                    <div class="gallery-item image-object-fit image-object-fit-cover">
                                        <img data-sgallery="guideGallery" title="Guide Gallery" data-full="images/guide-lightbox/09.jpg" data-thumb="images/guide-lightbox/09.jpg" src="~/images/guide-lightbox/09.jpg" alt="images">
                                    </div>
                                </div>
                            </div>

                            <div class="GridLex-col-3_sm-4_xs-4_xss-6">
                                <div class="sumi-gallery-wrapper clearfix">
                                    <div class="gallery-item image-object-fit image-object-fit-cover">
                                        <img data-sgallery="guideGallery" title="Guide Gallery" data-full="images/guide-lightbox/10.jpg" data-thumb="images/guide-lightbox/10.jpg" src="~/images/guide-lightbox/10.jpg" alt="images">
                                    </div>
                                </div>
                            </div>

                            <div class="GridLex-col-3_sm-4_xs-4_xss-6">
                                <div class="sumi-gallery-wrapper clearfix">
                                    <div class="gallery-item image-object-fit image-object-fit-cover">
                                        <img data-sgallery="guideGallery" title="Guide Gallery" data-full="images/guide-lightbox/11.jpg" data-thumb="images/guide-lightbox/11.jpg" src="~/images/guide-lightbox/11.jpg" alt="images">
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div id="sidebar-sticky" class="col-xs-12 col-sm-5 col-md-4 mt-20">

                <div class="ml-10 ml-0-xs mb-10">
                    <a href="guide-booking.html" class="btn btn-primary btn-lgg btn-block btn-border">Book me Now</a>
                </div>

                <aside class="sidebar-wrapper with-box-shadow">

                    <div class="sidebar-booking-box">

                        <div class="sidebar-booking-header clearfix">

                            <div class="price">
                                Contact me
                            </div>

                        </div>

                        <div class="sidebar-booking-inner">

                            <form class="fast-contact-wrapper">

                                <div class="row">

                                    <div class="col-xss-12 col-xs-6 col-sm-12 col-md-12">

                                        <div class="form-group">
                                            <label>Your Name (required)</label>
                                            <input type="text" class="form-control" />
                                        </div>

                                    </div>

                                    <div class="col-xss-12 col-xs-6 col-sm-12 col-md-12">

                                        <div class="form-group">
                                            <label>Your Email (required)</label>
                                            <input type="text" class="form-control" />
                                        </div>

                                    </div>

                                    <div class="col-xss-12 col-xs-12 col-sm-12 col-md-12">

                                        <div class="form-group">
                                            <label>Message</label>
                                            <textarea class="form-control" rows="6"></textarea>
                                        </div>

                                    </div>

                                </div>

                                <a href="#" class="btn btn-primary btn-block mt-5">Submit contact</a>

                            </form>

                        </div>

                    </div>

                </aside>

            </div>

        </div>

    </div>

</div>

@section Scripts{
    <partial name="~/Views/Shared/TourGuide/UserProfileScripts.cshtml">
}

