@page
@model EgyGuide.Areas.Identity.Pages.Account.Guide.RegisterConfirmationModel
@{
    ViewData["Title"] = "Index";
    ViewData["AddClassToBodyTag"] = "home transparent-header";
    ViewData["AddToBreadcrumbHeader"] = "pb-100 no-bg";
}

<!-- start breadcrumb -->
<partial name="~/Views/Shared/BreadcrumbHeader.cshtml">
<!-- end breadcrumb -->

<div class="bg-light">

    <div class="confirmation-wrapper">

        <div class="container">

            <div class="row">

                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                    <div class="confirmation-inner">

                        <div class="promo-box-02 bg-success">
                            <div class="icon">
                                <i class="fa fa-check-circle"></i>
                                <h3>
                                    <strong>Thank you</strong> for your desire to join us, we will review your application and contact you later.
                                    We hope to see you soon.
                                </h3>
                            </div>                            

                        </div>
                       
                    </div>                    

                </div>

            </div>

        </div>

    </div>

</div>