@page
@model EgyGuide.Areas.Identity.Pages.Account.Guide.RegisterModel
@inject UserManager<IdentityUser> UserManger 
@using EgyGuide.Utility

@{
    ViewData["AddClassToBodyTag"] = "transparent-header";
    ViewData["Title"] = "Register";
    ViewData["HeaderTitle"] = "create your account for free";
}

<!-- start breadcrumb -->
<partial name="~/Views/Shared/BreadcrumbHeader.cshtml">
<!-- start breadcrumb -->

<div class="pt-30 pb-60">

    <div class="container">

        <!-- start Register Modal -->
        <div class="modal-body">

            <div class="row gap-20">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                    <form autocomplete="off" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label>First Name</label>
                                <input asp-for="RegisterVM.Input.FirstName" class="form-control" type="text" placeholder="First Name">
                                <span asp-validation-for="RegisterVM.Input.FirstName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input asp-for="RegisterVM.Input.LastName" class="form-control" type="text" placeholder="Last Name">
                                <span asp-validation-for="RegisterVM.Input.LastName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label>Email</label>
                                <input asp-for="RegisterVM.Input.Email" class="form-control" type="email" placeholder="Email">
                                <span asp-validation-for="RegisterVM.Input.Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input asp-for="RegisterVM.Input.PhoneNumber" class="form-control" type="text" placeholder="Phone Number">
                                <span asp-validation-for="RegisterVM.Input.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label>Nationality</label>
                                <select asp-for="RegisterVM.Input.Nationality" class="selectpicker show-tick form-control">
                                    <partial name="~/Views/Shared/Country.cshtml" />
                                </select>
                                <span asp-validation-for="RegisterVM.Input.Nationality" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label>Country</label>
                                <select asp-for="RegisterVM.Input.Country" class="selectpicker show-tick form-control">
                                    <partial name="~/Views/Shared/Country.cshtml" />
                                </select>
                                <span asp-validation-for="RegisterVM.Input.Country" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label>City</label>
                                <input asp-for="RegisterVM.Input.City" class="form-control" type="text" placeholder="City">
                                <span asp-validation-for="RegisterVM.Input.City" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Guide-User Details -->
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label>Year Experience</label>
                                <input asp-for="RegisterVM.Guide.YearExperience" class="form-control form-spin" value="1" type="text">
                                <span asp-validation-for="RegisterVM.Guide.YearExperience" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label>Service Areas</label>
                                <input asp-for="RegisterVM.Guide.ServiceArea" class="form-control" type="text" placeholder="Cairo, Alexandria, Dahab">
                                <span asp-validation-for="RegisterVM.Guide.ServiceArea" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label>Languages</label>
                                <input asp-for="RegisterVM.Guide.Language" class="form-control" type="text" placeholder="Arabic, English, French">
                                <span asp-validation-for="RegisterVM.Guide.Language" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12">                                
                            <div class="form-group bootstrap-fileinput-style-01">
                                <label>Identity Card <span class="text-danger">(Secret)</span></label>
                                <input id="form-photos" asp-for="RegisterVM.Guide.IdentityImage" type="file">
                                <span class="font12 font-italic">** only jpg, png, tiff are allowed</span>
                                <span asp-validation-for="RegisterVM.Guide.IdentityImage" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label>Facebook Profile Link <span class="text-success">(Optional)</span></label>
                                <input asp-for="RegisterVM.Guide.FacebookProfile" class="form-control" type="text" placeholder="https://www.facebook.com/yourprofile">
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label>Twitter Profile Link <span class="text-success">(Optional)</span></label>
                                <input asp-for="RegisterVM.Guide.TwitterProfile" class="form-control" type="text" placeholder="https://www.twitter.com/yourprofile">
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label>Instagram Profile Link <span class="text-success">(Optional)</span></label>
                                <input asp-for="RegisterVM.Guide.InstagramProfile" class="form-control" type="text" placeholder="https://www.instagram.com/yourprofile">
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label>Youtube Profile Link <span class="text-success">(Optional)</span></label>
                                <input asp-for="RegisterVM.Guide.YoutubeProfile" class="form-control" type="text" placeholder="https://www.youtube.com/user/yourchannel">
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label>Remark <span class="text-success">(Optional)</span></label>
                                <input asp-for="RegisterVM.Guide.Remark" class="form-control" type="text" placeholder="Ex: Certified from Ministry of Tourism">
                            </div>
                        </div>

                        <input asp-for="RegisterVM.Input.Role" value="@SD.Role_User_Tour_Guide" type="hidden">
                        <!-- End Guide-User Details -->

                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label>Password</label>
                                <input asp-for="RegisterVM.Input.Password" class="form-control" type="password" placeholder="Password">
                                <span asp-validation-for="RegisterVM.Input.Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input asp-for="RegisterVM.Input.ConfirmPassword" class="form-control" type="password" placeholder="Confirm Password">
                                <span asp-validation-for="RegisterVM.Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12">
                            <div class="checkbox-block">
                                <input id="register_accept_checkbox" name="register_accept_checkbox" class="checkbox" value="First Choice" type="checkbox">
                                <label class="" for="register_accept_checkbox">By register, I read &amp; accept <a href="#">the terms</a></label>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12">
                            <div class="login-box-box-action">
                                Already have account? <a data-toggle="modal" asp-area="Identity" asp-page="Login">Log-in</a>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-lg">Register</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- end Register Modal -->

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/js/bootstrap-tokenfield.js"></script>
    <script type="text/javascript" src="~/js/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap3-wysihtml5.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.bootstrap-touchspin.js"></script>
    <script type="text/javascript" src="~/js/customs-dashboard-guide-info.js"></script>
    <script type="text/javascript" src="~/js/fileinput.min.js"></script>
    <script type="text/javascript" src="~/js/customs-fileinput.js"></script>
}