
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start breadcrumb -->
<partial name="~/Views/Shared/Breadcrumb.cshtml">
<!-- end breadcrumb -->

    <div class="user-profile-wrapper">

        <div class="payment-header">

            <div class="container">

                <div class="content">

                    <div class="trip-list-item no-border">
                        <div class="image-absolute">
                            <div class="image image-object-fit image-object-fit-cover">
                                <img src="images/trip/01.jpg" alt="image">
                            </div>
                        </div>
                        <div class="content">

                            <div class="GridLex-gap-20 mb-5">

                                <div class="GridLex-grid-noGutter-equalHeight GridLex-grid-middle">

                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                        <div class="GridLex-inner">
                                            <h6>Hong Kong Best Highlight Explore</h6>
                                            <span class="font-italic font14">5 days 4 nights</span>
                                        </div>

                                    </div>

                                    <div class="GridLex-col-3_sm-6_xs-7_xss-12">
                                        <div class="GridLex-inner line-1 font14 text-center text-left-sm text-muted spacing-1">
                                            <div class="rating-item rating-item-lg  mt-10-xs">
                                                <input type="hidden" class="rating" data-filled="fa fa-star rating-rated" data-empty="fa fa-star-o" data-fractions="2" data-readonly value="4.5" />
                                                <div class="rating-text">Based on <a href="#">32 reviews</a></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="GridLex-col-3_sm-6_xs-5_xss-12">
                                        <div class="GridLex-inner text-right text-left-xss">
                                            <a href="#" class="btn btn-primary btn-sm btn-block mt-15-xs"><i class="ion-arrow-left-c"></i> Back to detail</a>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>


                </div>

            </div>

        </div>

    </div>

    <div class="pt-30 pb-50">

        <div class="container">

            <div class="row">

                <div class="col-xs-12 col-sm-8 col-md-8 mt-20">

                    <form>

                        <h4 class="section-title">Traveller Details</h4>

                        <div class="payment-content">

                            <div class="payment-traveller">

                                <div class="row gap-0">

                                    <div class="col-sm-9 col-sm-offser-3 col-md-10 col-md-offset-2">
                                        <h6 class="text-primary spacing-2 text-uppercase">Traveller 1</h6>
                                    </div>

                                </div>

                                <div class="form-horizontal">
                                    <div class="form-group select2-input-hide">
                                        <label class="col-sm-3 col-md-2 control-label">Title:</label>
                                        <div class="col-sm-3 col-md-2">
                                            <select class="selectpicker show-tick form-control" data-live-search="false">
                                                <option value="0">Title</option>
                                                <option value="mr">Mr.</option>
                                                <option value="mrs">Mrs.</option>
                                                <option value="miss">Miss</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-2 control-label">First Name:</label>
                                        <div class="col-sm-5 col-md-5">
                                            <input type="text" class="form-control" value="">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-2 control-label">Last Name:</label>
                                        <div class="col-sm-5 col-md-5">
                                            <input type="text" class="form-control" value="">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal">
                                    <div class="form-group select2-input-hide">
                                        <label class="col-sm-3 col-md-2 control-label">Gender:</label>
                                        <div class="col-sm-3 col-md-2">
                                            <select class="selectpicker show-tick form-control" data-live-search="false">
                                                <option value="">Gender</option>
                                                <option value="male">Male.</option>
                                                <option value="female">Female.</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal">
                                    <div class="form-group select2-input-hide">
                                        <label class="col-sm-3 col-md-2 control-label">Gender:</label>
                                        <div class="col-sm-8 col-md-5">

                                            <div class="row gap-5">
                                                <div class="col-xs-3 col-sm-3">
                                                    <select class="selectpicker form-control" data-live-search="false">
                                                        <option value="0">day</option>
                                                        <option value="1">01</option>
                                                        <option value="2" selected>02</option>
                                                        <option value="3">03</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-5 col-sm-5">
                                                    <select class="selectpicker form-control" data-live-search="false">
                                                        <option value="0">month</option>
                                                        <option value="1">Jan</option>
                                                        <option value="2" selected>Feb</option>
                                                        <option value="3">Mar</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-sm-4">
                                                    <select class="selectpicker form-control" data-live-search="false">
                                                        <option value="0">year</option>
                                                        <option value="1">1985</option>
                                                        <option value="2" selected>1986</option>
                                                        <option value="3">1987</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-2 control-label">Email:</label>
                                        <div class="col-sm-5 col-md-5">
                                            <input type="email" class="form-control" value="">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-2 control-label">Phone:</label>
                                        <div class="col-sm-5 col-md-5">
                                            <input type="email" class="form-control" value="">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-2 control-label">Nationality:</label>
                                        <div class="col-sm-5 col-md-5">
                                            <select class="selectpicker show-tick form-control" data-live-search="false">
                                                <option value="">Nationality</option>
                                                <option value="Thai">Thai</option>
                                                <option value="Malaysian">Malaysian</option>
                                                <option value="Indonesian">Indonesian</option>
                                                <option value="American">American</option>
                                                <option value="England">England</option>
                                                <option value="German">German</option>
                                                <option value="Polish">Polish</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="payment-traveller">

                                <div class="row gap-0 gap-15">

                                    <div class="col-sm-9 col-sm-offser-3 col-md-10 col-md-offset-2">
                                        <h6 class="text-primary spacing-2 text-uppercase">Traveller 2</h6>
                                    </div>

                                </div>

                                <div class="form-horizontal">
                                    <div class="form-group select2-input-hide">
                                        <label class="col-sm-3 col-md-2 control-label">Title:</label>
                                        <div class="col-sm-3 col-md-2">
                                            <select class="selectpicker show-tick form-control" data-live-search="false">
                                                <option value="0">Title</option>
                                                <option value="mr">Mr.</option>
                                                <option value="mrs">Mrs.</option>
                                                <option value="miss">Miss</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-2 control-label">First Name:</label>
                                        <div class="col-sm-5 col-md-5">
                                            <input type="text" class="form-control" value="">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-2 control-label">Last Name:</label>
                                        <div class="col-sm-5 col-md-5">
                                            <input type="text" class="form-control" value="">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal">
                                    <div class="form-group select2-input-hide">
                                        <label class="col-sm-3 col-md-2 control-label">Gender:</label>
                                        <div class="col-sm-3 col-md-2">
                                            <select class="selectpicker show-tick form-control" data-live-search="false">
                                                <option value="">Gender</option>
                                                <option value="male">Male.</option>
                                                <option value="female">Female.</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal">
                                    <div class="form-group select2-input-hide">
                                        <label class="col-sm-3 col-md-2 control-label">Gender:</label>
                                        <div class="col-sm-8 col-md-5">

                                            <div class="row gap-5">
                                                <div class="col-xs-3 col-sm-3">
                                                    <select class="selectpicker form-control" data-live-search="false">
                                                        <option value="0">day</option>
                                                        <option value="1">01</option>
                                                        <option value="2" selected>02</option>
                                                        <option value="3">03</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-5 col-sm-5">
                                                    <select class="selectpicker form-control" data-live-search="false">
                                                        <option value="0">month</option>
                                                        <option value="1">Jan</option>
                                                        <option value="2" selected>Feb</option>
                                                        <option value="3">Mar</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-sm-4">
                                                    <select class="selectpicker form-control" data-live-search="false">
                                                        <option value="0">year</option>
                                                        <option value="1">1985</option>
                                                        <option value="2" selected>1986</option>
                                                        <option value="3">1987</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-2 control-label">Email:</label>
                                        <div class="col-sm-5 col-md-5">
                                            <input type="email" class="form-control" value="">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-2 control-label">Phone:</label>
                                        <div class="col-sm-5 col-md-5">
                                            <input type="email" class="form-control" value="">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-2 control-label">Nationality:</label>
                                        <div class="col-sm-5 col-md-5">
                                            <select class="selectpicker show-tick form-control" data-live-search="false">
                                                <option value="">Nationality</option>
                                                <option value="Thai">Thai</option>
                                                <option value="Malaysian">Malaysian</option>
                                                <option value="Indonesian">Indonesian</option>
                                                <option value="American">American</option>
                                                <option value="England">England</option>
                                                <option value="German">German</option>
                                                <option value="Polish">Polish</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="payment-content">

                            <h4 class="section-title">Billing Address</h4>

                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 col-md-2 control-label">Address:</label>
                                    <div class="col-sm-5 col-md-5">
                                        <input type="text" class="form-control" value="">
                                    </div>
                                </div>
                            </div>

                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 col-md-2 control-label">City:</label>
                                    <div class="col-sm-5 col-md-5">
                                        <input type="text" class="form-control" value="">
                                    </div>
                                </div>
                            </div>

                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 col-md-2 control-label">Postal:</label>
                                    <div class="col-sm-5 col-md-5">
                                        <input type="text" class="form-control" value="">
                                    </div>
                                </div>
                            </div>

                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 col-md-2 control-label">Province:</label>
                                    <div class="col-sm-5 col-md-5">
                                        <input type="text" class="form-control" value="">
                                    </div>
                                </div>
                            </div>

                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 col-md-2 control-label">Conntry:</label>
                                    <div class="col-sm-5 col-md-5">
                                        <select class="selectpicker show-tick form-control" data-live-search="false">
                                            <option value="">Conntry</option>
                                            <option value="Thai">Thai</option>
                                            <option value="Malaysian">Malaysian</option>
                                            <option value="Indonesian">Indonesian</option>
                                            <option value="American">American</option>
                                            <option value="England">England</option>
                                            <option value="German">German</option>
                                            <option value="Polish">Polish</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="payment-content">

                            <h4 class="section-title">Finish Payment <small>/ <i class="fa fa-lock"></i> secure</small></h4>

                            <p>Excellent so to no sincerity smallness. Removal request delight if on he we.</p>

                            <div class="alert alert-info" role="alert"><i class="fa fa-info-circle"></i> Ask especially collecting terminated may son expression.</div>

                            <div id="paymentOption" class="payment-option-wrapper">

                                <div class="row">

                                    <div class="col-sm-12">

                                        <div class="radio-block">
                                            <input id="payments1" name="payments" type="radio" class="radio" value="paymentsCreditCard" />
                                            <label class="" for="payments1"><span>Credit Cars</span> <img src="images/payment-credit-cards.jpg" alt="Image"></label>
                                        </div>

                                    </div>

                                    <div class="clear"></div>

                                    <div class="col-sm-12">
                                        <div class="radio-block">
                                            <input id="payments2" name="payments" type="radio" class="radio" value="paymentPaypal" />
                                            <label class="" for="payments2"><span>Paypal</span> <img src="images/payment-paypal.jpg" alt="Image"></label>
                                        </div>
                                    </div>

                                </div>

                                <div id="paymentsCreditCard" class="payment-option-form">

                                    <div class="inner">

                                        <h5 class="mb-15 text-primary mt-15 text-uppercase spacing-2">Your Payment Total: $ 150.60 US</h5>
                                        <p>The booking amount will be debited from your credit card once the booking is completed. </p>

                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-3 col-md-3 control-label">Cardholder's name </label>
                                                <div class="col-sm-6 col-md-6">
                                                    <input type="text" class="form-control mb-0" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-md-3 control-label">Card Type </label>
                                                <div class="col-sm-3 col-md-2">
                                                    <select class="selectpicker show-tick form-control" data-live-search="false">
                                                        <option value="">Card Type</option>
                                                        <option value="1">Options 1</option>
                                                        <option value="2">Options 2</option>
                                                        <option value="3">Options 3</option>
                                                        <option value="4">Options 4</option>
                                                        <option value="5">Options 5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-md-3 control-label">Card number </label>
                                                <div class="col-sm-6 col-md-6">
                                                    <input type="text" class="form-control mb-0" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-md-3 control-label">Expiry date </label>
                                                <div class="col-sm-3 col-md-3">
                                                    <select class="selectpicker show-tick form-control" data-live-search="false">
                                                        <option value="">Month</option>
                                                        <option value="1">Options 1</option>
                                                        <option value="2">Options 2</option>
                                                        <option value="3">Options 3</option>
                                                        <option value="4">Options 4</option>
                                                        <option value="5">Options 5</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3 col-md-3">
                                                    <select class="selectpicker show-tick form-control" data-live-search="false">
                                                        <option value="">Year</option>
                                                        <option value="1">Options 1</option>
                                                        <option value="2">Options 2</option>
                                                        <option value="3">Options 3</option>
                                                        <option value="4">Options 4</option>
                                                        <option value="5">Options 5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-md-3 control-label">CVC<small class="hoover-help of-label" data-toggle="tooltip" data-placement="top" title="Had denoting properly jointure you occasion directly raillery. In said to of poor full be post face snug.">What is it?</small> </label>
                                                <div class="col-sm-3 col-md-2">
                                                    <input type="text" class="form-control mb-0" placeholder="">
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                                <div id="paymentPaypal" class="payment-option-form">
                                    <div class="inner">

                                        <h5 class="mb-15 text-primary mt-15 text-uppercase spacing-2">Your Payment Total: $ 150.60 US</h5>
                                        <p>The booking amount will be debited from your account once the booking is completed.</p>
                                        <p>After clicking 'Book Now' you will be directed to Paypal to complete payment. <strong>You must complete the process or the booking will not occur </strong>. Afterwards you will be redirected to us again. </p>

                                        <a href="#" class="btn btn-primary">Proceed to paypal</a>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="bb mt-20 mb-20"></div>

                        <div class="checkbox-block">
                            <input id="accept_booking" name="accept_booking" type="checkbox" class="checkbox" value="paymentsCreditCard" />
                            <label class="" for="accept_booking">By submitting a booking request, you accept our <a href="#">terms and conditions</a> as well as the <a href="#">cancellation policy</a> and  <a href="#">House Rules</a> .</label>
                        </div>

                        <a class="btn btn-primary mt-25" asp-controller="OfferedPayment" asp-action="OfferedPaymentDone">Book Now</a>

                        <p class="line16 mt-20 font14"><span class="font600">Prepared is me marianne</span>: pleasure likewise debating. Wonder an unable except better stairs do ye admire.</p>

                    </form>

                </div>

                <div id="sidebar-sticky" class="col-xs-12 col-sm-4 col-md-4 mt-20 sticky-mt-30 mt-50-sm">

                    <aside class="sidebar-wrapper with-box-shadow">

                        <div class="sidebar-booking-box">

                            <div class="sidebar-booking-header pt-20 pb-15 clearfix">

                                <h3 class="text-white text-uppercase spacing-3 mb-0 line-1">Trip Summary</h3>

                            </div>

                            <div class="sidebar-booking-inner">

                                <ul class="price-summary-list">

                                    <li>
                                        <h6>Meeting point</h6>
                                        <p class="text-muted">Bangkok in't airport</p>
                                    </li>

                                    <li>
                                        <h6>Meeting time</h6>
                                        <p class="text-muted">09:00 am</p>
                                    </li>

                                    <li>
                                        <h6>Travellers</h6>
                                        <p class="text-muted">2 adults</p>
                                    </li>

                                    <li class="divider"></li>

                                    <li>
                                        <h6 class="heading mt-20 mb-5 text-primary uppercase">Price per person</h6>
                                        <div class="row gap-10 mt-10">
                                            <div class="col-xs-7 col-sm-7">
                                                Brochure Price
                                            </div>
                                            <div class="col-xs-5 col-sm-5 text-right">
                                                $650
                                            </div>
                                        </div>
                                        <div class="row gap-10 mt-10">
                                            <div class="col-xs-7 col-sm-7">
                                                Tax &amp; fee
                                            </div>
                                            <div class="col-xs-5 col-sm-5 text-right">
                                                $0
                                            </div>
                                        </div>
                                    </li>

                                    <li class="divider"></li>

                                    <li>
                                        <div class="row gap-10 mt-10">
                                            <div class="col-xs-7 col-sm-7">
                                                <span class="font600">Total </span>
                                            </div>
                                            <div class="col-xs-5 col-sm-5 text-right">
                                                $6500 x2
                                                <span class="font600 font26 block text-primary mt-5">$1,300</span>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="divider"></li>

                                    <li>
                                        <a href="#" class="btn btn-primary btn-sm mt-5">Change my trip</a>
                                    </li>

                                </ul>

                            </div>

                        </div>

                    </aside>

                </div>

            </div>

        </div>

    </div>

    @section Scripts{
        <script src="~/js/jquery.stickit.js"></script>
        <script src="~/js/bootstrap-tokenfield.js"></script>
        <script src="~/js/typeahead.bundle.min.js"></script>
        <script src="~/js/jquery.sumogallery.js"></script>
        <script src="~/js/images-grid.js"></script>
        <script src="~/js/jquery.bootstrap-touchspin.js"></script>
        <script src="~/js/customs-detail.js"></script>
    }
